{% extends "_base.html" %}

{% block body %}
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
    h1 {position: fixed; z-index: 1;}
</style>
<h1>San Francisco Bicycle Parking</h1>
<div id="map-canvas"></div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcdlfecz9zBAbdTQjrsG4_vOS5lTEtvDw&sensor=true">
</script>
<script type="text/javascript" src="{{url_for('static', filename='parkingSpots.js')}}"></script>
{% endblock %}
